* {
    background-color: rgb(129, 212, 194);

}


h1  {
    font-family: 'Cookie', cursive;
    font-size: 60px;
    text-align: center;
    background-color: rgb(214, 210, 203);
    width: 600px;
    padding: 30px;

}

p {
    font-family: 'Cookie', cursive;
}
   
    


 